# Data Extraction

In [2]:
#pip install us

In [3]:
#Import dependencies
import os
import us
import pandas as pd
import numpy as np
import re
import json
import requests

In [4]:
#Retrieve data from us python package
us_state = us.states.mapping('fips','abbr')

#Convert dictionary to dataframe
state_id = pd.DataFrame.from_dict(us_state, orient='index',
                       columns=['STATE'])

#Export to csv
#state_id.to_csv('Resources/US_states.csv', index=True) #comment out after first run

In [7]:
#
state_ids = pd.read_csv('Resources/US_states.csv')
state_ids.head()

    ID STATE
0  1.0    AL
1  2.0    AK
2  4.0    AZ
3  5.0    AR
4  6.0    CA

In [8]:
state_ids.dtypes

ID       float64
STATE     object
dtype: object

In [10]:
state_ids = state_ids.astype({"ID": int})
state_ids.dtypes

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [5]:
#Create dictionary showing abbreviation and two-letter code for each state
abbr_code = dict(us.states.mapping('ap_abbr', 'abbr'))
print(abbr_code)

{'Ala.': 'AL', 'Alaska': 'AK', 'Ariz.': 'AZ', 'Ark.': 'AR', 'Calif.': 'CA', 'Colo.': 'CO', 'Conn.': 'CT', 'Del.': 'DE', 'Fla.': 'FL', 'Ga.': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Ill.': 'IL', 'Ind.': 'IN', 'Iowa': 'IA', 'Kan.': 'KS', 'Ky.': 'KY', 'La.': 'LA', 'Maine': 'ME', 'Md.': 'MD', 'Mass.': 'MA', 'Mich.': 'MI', 'Minn.': 'MN', 'Miss.': 'MS', 'Mo.': 'MO', 'Mont.': 'MT', 'Neb.': 'NE', 'Nev.': 'NV', 'N.H.': 'NH', 'N.J.': 'NJ', 'N.M.': 'NM', 'N.Y.': 'NY', 'N.C.': 'NC', 'N.D.': 'ND', 'Ohio': 'OH', 'Okla.': 'OK', 'Ore.': 'OR', 'Pa.': 'PA', 'R.I.': 'RI', 'S.C.': 'SC', 'S.D.': 'SD', 'Tenn.': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vt.': 'VT', 'Va.': 'VA', 'Wash.': 'WA', 'W.Va.': 'WV', 'Wis.': 'WI', 'Wyo.': 'WY', None: 'PI', 'D.C.': 'DC'}

In [6]:
#Extract and view data from CSV
walmart_marketShare = pd.read_csv('Resources/Walmart_MarketShare_data.csv')
walmart_marketShare.head()

       CITY   STATE  POPULATION MARKET_SHARE
0  Atchison    Kan.       16580          95%
1  Portales    N.M.       19730          95%
2  Sterling   Colo.       22068          91%
3    Deming    N.M.       24699          90%
4    Guymon    Ohio       21385          90%

# Data Transformation

In [ ]:
#Create dataframes for state IDs, abbr_code and walmart_marketShare