# EXTRACT

In [1]:
# Import dependencies
import pandas as pd
import requests 
import json
from pprint import pprint
import numpy as np
from sqlalchemy import create_engine
from config import connection_string
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Read csv and json data
prices= pd.read_csv('Resources/prices.csv')
#quant_fe= pd.read_csv('quant_fe.csv')
#sales= pd.read_csv('sales.csv')
sales_aug= pd.read_csv('Resources/sales_aug.csv')
walmart=pd.read_json('Resources/walmart.json')

In [3]:
# Display walmart(json)
walmart.head()

,id,storeType,timeZone,openDate,name,postalCode,address1,city,state,country,latitude,longitude,phone_number
0,6601,3,K,01/04/1994 12:00,Sam's Club,99515,8801 Old Seward Hwy,Anchorage,AK,US,61.140770,-149.860016,(907) 522-2333
1,6602,3,K,01/06/1994 12:00,Sam's Club,99504,1074 N. Muldoon Road,Anchorage,AK,US,61.231079,-149.740844,(907) 276-2996
2,2074,1,K,03/29/1994 12:00,Walmart Supercenter,99654,1350 S Seward Meridian Pkwy,Wasilla,AK,US,61.568752,-149.363647,(907) 376-9780
3,2070,1,K,03/29/1994 12:00,Walmart Supercenter,99503,3101 A St,Anchorage,AK,US,61.192337,-149.880356,(907) 563-5900
4,6603,3,K,01/08/1994 12:00,Sam's Club,99701,48 College Rd,Fairbanks,AK,US,64.852867,-147.707336,(907) 451-4800

In [4]:
# Display sales_aug(csv)
sales_aug.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1937,d_1938,d_1939,d_1940,d_1941,sales1,sales2,start,scale1,scale2
0,HOBBIES_1_001_CA_1,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,3,3,0,1,1.097306e-05,0.000013,902,0.757426,0.773603
1,HOBBIES_1_002_CA_1,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,8.128193e-07,0.000003,144,0.424208,0.422049
2,HOBBIES_1_003_CA_1,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,2,3,0,1,6.502554e-06,0.000008,1106,0.492556,0.511990
3,HOBBIES_1_004_CA_1,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,2,6,2.072689e-05,0.000019,37,1.779200,1.778245
4,HOBBIES_1_005_CA_1,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,2,1,0,1.544357e-05,0.000015,113,1.101723,1.102354

In [5]:
# Dispaly Prices (csv) 
prices.head()

,id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,...,d_1960,d_1961,d_1962,d_1963,d_1964,d_1965,d_1966,d_1967,d_1968,d_1969
0,FOODS_1_001_CA_1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
1,FOODS_1_001_CA_2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
2,FOODS_1_001_CA_3,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
3,FOODS_1_001_CA_4,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
4,FOODS_1_001_TX_1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24

# TRANSFORM

In [6]:
# Filtering to show just walmart Supercenter data
walmart = walmart[walmart.storeType.eq(1)]
walmart

,id,storeType,timeZone,openDate,name,postalCode,address1,city,state,country,latitude,longitude,phone_number
2,2074,1,K,03/29/1994 12:00,Walmart Supercenter,99654,1350 S Seward Meridian Pkwy,Wasilla,AK,US,61.568752,-149.363647,(907) 376-9780
3,2070,1,K,03/29/1994 12:00,Walmart Supercenter,99503,3101 A St,Anchorage,AK,US,61.192337,-149.880356,(907) 563-5900
5,2071,1,K,03/29/1994 12:00,Walmart Supercenter,99515,8900 Old Seward Hwy,Anchorage,AK,US,61.140263,-149.868835,(907) 344-5300
6,2188,1,K,04/26/2000 12:00,Walmart Supercenter,99577,18600 Eagle River Rd,Eagle River,AK,US,61.309483,-149.534912,(907) 694-9780
7,3814,1,K,09/12/2007 12:00,Walmart Supercenter,99801,6525 Glacier Hwy,Juneau,AK,US,58.358349,-134.514862,(907) 789-5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5815,1456,1,MST,08/01/1990 12:00,Walmart Supercenter,82930,125 N 2Nd St,Evanston,WY,US,41.265720,-110.954559,(307) 789-0010
5816,1485,1,MST,01/30/1991 12:00,Walmart Supercenter,82718,2300 S Douglas Hwy,Gillette,WY,US,44.273472,-105.494208,(307) 686-4060
5817,1457,1,MST,06/27/1990 12:00,Walmart Supercenter,82501,1733 N Federal Blvd,Riverton,WY,US,43.042599,-108.379036,(307) 856-3261
5818,1778,1,MST,04/01/1992 12:00,Walmart Supercenter,82414,321 Yellowstone Ave,Cody,WY,US,44.517460,-109.089333,(307) 527-4673
5820,1617,1,MST,12/31/1991 12:00,Walmart Supercenter,82609,4400 E 2Nd St,Casper,WY,US,42.849002,-106.269392,(307) 237-0991

In [7]:
# Data types of the datafram and number, and percentage of NAN values (walmart):
def missing_data(data):
    total = data.isnull().sum()
    percent = (data.isnull().sum()/data.isnull().count()*100)
    missing_values = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    types = []
    #Convert to string and add to list
    for col in data.columns: 
        dtype = str(data[col].dtype)
        types.append(dtype)
    missing_values['Types'] = types
    return(np.transpose(missing_values))

# Run function:
missing_data(walmart)

,id,storeType,timeZone,openDate,name,postalCode,address1,city,state,country,latitude,longitude,phone_number
Total,0,0,0,0,0,0,0,0,0,0,0,0,0
Percent,0,0,0,0,0,0,0,0,0,0,0,0,0
Types,int64,int64,object,object,object,int64,object,object,object,object,float64,float64,object

In [8]:
# Data types of the datafram and number, and percentage of NAN values (sales_aug):
missing_data(sales_aug)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1937,d_1938,d_1939,d_1940,d_1941,sales1,sales2,start,scale1,scale2
Total,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Percent,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Types,object,object,object,object,object,object,int64,int64,int64,int64,...,int64,int64,int64,int64,int64,float64,float64,int64,float64,float64

In [9]:
# Data types of the datafram and number, and percentage of NAN values (prices):
missing_data(prices)

,id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,...,d_1960,d_1961,d_1962,d_1963,d_1964,d_1965,d_1966,d_1967,d_1968,d_1969
Total,0,19558,19558,19558,19558,19558,19558,19558,18515,18515,...,0,0,0,0,0,0,0,0,0,0
Percent,0,64.1456,64.1456,64.1456,64.1456,64.1456,64.1456,64.1456,60.7248,60.7248,...,0,0,0,0,0,0,0,0,0,0
Types,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64

In [10]:
# Drop NAN values of prices
prices = prices.dropna()
missing_data(prices)

,id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,...,d_1960,d_1961,d_1962,d_1963,d_1964,d_1965,d_1966,d_1967,d_1968,d_1969
Total,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Percent,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Types,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64

In [11]:
# Adding all the day columns in sales_aug to get a sum of quantity column for days:
cols_to_keep=[col for col in sales_aug.columns if col.startswith('d_')==False]
cols_to_sum=[col for col in sales_aug.columns if col.startswith('d_')]
sum_df=sales_aug[cols_to_sum].sum(axis=1)
sum_df=pd.DataFrame(sum_df, columns=['Sum Quantity'])

keep_df=sales_aug[cols_to_keep]


finalsales=keep_df.join(sum_df)

# Rename state_id to state
finalsales.rename(columns={"state_id":"state"}, inplace=True)
Columns=["id", "item_id", "dept_id", "cat_id", "store_id", "state", "Sum Quantity"]
finalsales_df=finalsales[Columns]
finalsales_df

,id,item_id,dept_id,cat_id,store_id,state,Sum Quantity
0,HOBBIES_1_001_CA_1,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,633
1,HOBBIES_1_002_CA_1,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,500
2,HOBBIES_1_003_CA_1,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,309
3,HOBBIES_1_004_CA_1,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,3337
4,HOBBIES_1_005_CA_1,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,1888
...,...,...,...,...,...,...,...
42835,WI_3_X,X,X,X,WI_3,WI,6542557
42836,CA_X,X,X,X,CA,CA,29196717
42837,TX_X,X,X,X,TX,TX,19228405
42838,WI_X,X,X,X,WI,WI,18502051
42839,Total_X,X,X,X,X,X,66927173

In [12]:
# Adding all the day columns in prices to get an average price column for days:
column_to_keep=[col for col in prices.columns if col.startswith('d_')==False]
column_to_avg=[col for col in prices.columns if col.startswith('d_')]
avg_df=prices[column_to_avg].mean(axis=1)
avg_df=pd.DataFrame(avg_df, columns=['Avg Prices'])

keeps_df=prices[column_to_keep]


finalprices_df=keeps_df.join(avg_df)
finalprices_df = finalprices_df.round({'Avg Prices': 3})
finalprices_df

                         id  Avg Prices
0          FOODS_1_001_CA_1       2.169
1          FOODS_1_001_CA_2       2.169
2          FOODS_1_001_CA_3       2.158
3          FOODS_1_001_CA_4       2.169
4          FOODS_1_001_TX_1       2.157
...                     ...         ...
30482  HOUSEHOLD_2_516_CA_3       5.940
30485  HOUSEHOLD_2_516_TX_2       5.922
30486  HOUSEHOLD_2_516_TX_3       5.922
30487  HOUSEHOLD_2_516_WI_1       5.940
30489  HOUSEHOLD_2_516_WI_3       5.940

[10932 rows x 2 columns]

In [13]:
# Merging finalprices_df with finalsales_df  
merged_df=finalprices_df.merge(finalsales_df, on="id", how="inner")
merged_df

,id,Avg Prices,item_id,dept_id,cat_id,store_id,state,Sum Quantity
0,FOODS_1_001_CA_1,2.169,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1526
1,FOODS_1_001_CA_2,2.169,FOODS_1_001,FOODS_1,FOODS,CA_2,CA,2232
2,FOODS_1_001_CA_3,2.158,FOODS_1_001,FOODS_1,FOODS,CA_3,CA,2329
3,FOODS_1_001_CA_4,2.169,FOODS_1_001,FOODS_1,FOODS,CA_4,CA,694
4,FOODS_1_001_TX_1,2.157,FOODS_1_001,FOODS_1,FOODS,TX_1,TX,1145
...,...,...,...,...,...,...,...,...
10927,HOUSEHOLD_2_516_CA_3,5.940,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,CA_3,CA,286
10928,HOUSEHOLD_2_516_TX_2,5.922,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,TX_2,TX,485
10929,HOUSEHOLD_2_516_TX_3,5.922,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,TX_3,TX,243
10930,HOUSEHOLD_2_516_WI_1,5.940,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,WI_1,WI,171
10931,HOUSEHOLD_2_516_WI_3,5.940,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,WI_3,WI,247

In [14]:
#Total quantity and average prices for each category in the discussed states(CA, TX, WI) 
merged_groupby=merged_df.groupby(["state", "cat_id"])
state_category = pd.DataFrame(merged_groupby.agg({'Sum Quantity': 'sum', 'Avg Prices': 'mean'}).reset_index())
state_category = state_category.round({'Avg Prices': 3})
state_category

  state     cat_id  Sum Quantity  Avg Prices
0    CA      FOODS      12356742       3.107
1    CA    HOBBIES       1835833       4.887
2    CA  HOUSEHOLD       2935689       5.563
3    TX      FOODS       8609983       3.119
4    TX    HOBBIES        915423       4.840
5    TX  HOUSEHOLD       1867303       5.399
6    WI      FOODS       7175994       2.990
7    WI    HOBBIES        894711       4.791
8    WI  HOUSEHOLD       1556220       5.400

In [15]:
# Calculate count of stores in each state
walmart_stores=pd.DataFrame(walmart['state'].value_counts(sort=True))
walmart_stores.reset_index(inplace=True)
walmart_stores.rename(columns={"index":"state", "state":"total stores"}, inplace=True)
walmart_stores.head()

  state  total stores
0    TX           327
1    FL           195
2    GA           138
3    OH           129
4    NC           129

In [16]:
# Total quantity and average prices for each category and count of stores in each discussed state(CA, TX, WI)
walmart_state_cat = state_category.merge(walmart_stores, on="state", how="inner")
walmart_state_cat

  state     cat_id  Sum Quantity  Avg Prices  total stores
0    CA      FOODS      12356742       3.107            85
1    CA    HOBBIES       1835833       4.887            85
2    CA  HOUSEHOLD       2935689       5.563            85
3    TX      FOODS       8609983       3.119           327
4    TX    HOBBIES        915423       4.840           327
5    TX  HOUSEHOLD       1867303       5.399           327
6    WI      FOODS       7175994       2.990            72
7    WI    HOBBIES        894711       4.791            72
8    WI  HOUSEHOLD       1556220       5.400            72

In [17]:
# Total quantity and average prices and count of stores in each discussed state(CA, TX, WI)
merge_group=merged_df.groupby(["state"])
state_sale = pd.DataFrame(merge_group.agg({'Sum Quantity': 'sum', 'Avg Prices': 'mean'}).reset_index())

state_store_sale=state_sale.merge(walmart_stores, on="state", how="inner")
state_store_sale

  state  Sum Quantity  Avg Prices  total stores
0    CA      17128264    4.208798            85
1    TX      11392709    4.115355           327
2    WI       9626925    4.185362            72

In [18]:
# create CAfoods dataframe 
CAfoods = merged_df.loc[(merged_df["cat_id"]=='FOODS') & (merged_df["state"]=="CA"),:]
CAfoods

,id,Avg Prices,item_id,dept_id,cat_id,store_id,state,Sum Quantity
0,FOODS_1_001_CA_1,2.169,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1526
1,FOODS_1_001_CA_2,2.169,FOODS_1_001,FOODS_1,FOODS,CA_2,CA,2232
2,FOODS_1_001_CA_3,2.158,FOODS_1_001,FOODS_1,FOODS,CA_3,CA,2329
3,FOODS_1_001_CA_4,2.169,FOODS_1_001,FOODS_1,FOODS,CA_4,CA,694
9,FOODS_1_002_CA_1,8.936,FOODS_1_002,FOODS_1,FOODS,CA_1,CA,934
...,...,...,...,...,...,...,...,...
5430,FOODS_3_824_CA_2,2.631,FOODS_3_824,FOODS_3,FOODS,CA_2,CA,922
5431,FOODS_3_824_CA_3,2.509,FOODS_3_824,FOODS_3,FOODS,CA_3,CA,1577
5432,FOODS_3_824_CA_4,2.631,FOODS_3_824,FOODS_3,FOODS,CA_4,CA,646
5439,FOODS_3_825_CA_2,4.112,FOODS_3_825,FOODS_3,FOODS,CA_2,CA,1237
5440,FOODS_3_825_CA_4,4.119,FOODS_3_825,FOODS_3,FOODS,CA_4,CA,1244

# LOAD

In [29]:
# Create engine
engine=create_engine(f"postgresql://{connection_string}")

In [69]:
# Create table CAfoods and add data 
CAfoods.to_sql(name="CAfoods", con=engine, if_exists='append', index=True)

In [70]:
# Check table names in database
engine.table_names()

['CAfoods', 'spatial_ref_sys']

In [95]:
# Create table state_category and add data 
state_category.to_sql(name="state_category", con=engine, if_exists='append', index=True)

In [96]:
# Create table walmart_stores and add data 
walmart_stores.to_sql(name="walmart_stores", con=engine, if_exists='append', index=True)

In [90]:
# Create table walmart_state_cat and add data 
walmart_state_cat.to_sql(name="walmart_state_cat", con=engine, if_exists='append', index=True)

In [93]:
## Create table state_store_sale and add data 
state_store_sale.to_sql(name="state_store_sale", con=engine, if_exists='append', index=True)

In [30]:
# Check table names in database
engine.table_names()

['CAfoods',
 'walmart_state_cat',
 'state_store_sale',
 'state_category',
 'walmart_stores',
 'spatial_ref_sys']

In [38]:
# See the table and data transferred correctly to the database
engine.execute('SELECT * FROM "CAfoods"').fetchall()

[(0, 'FOODS_1_001_CA_1', 2.169, 'FOODS_1_001', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1526),
 (1, 'FOODS_1_001_CA_2', 2.169, 'FOODS_1_001', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 2232),
 (2, 'FOODS_1_001_CA_3', 2.158, 'FOODS_1_001', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 2329),
 (3, 'FOODS_1_001_CA_4', 2.169, 'FOODS_1_001', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 694),
 (9, 'FOODS_1_002_CA_1', 8.936, 'FOODS_1_002', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 934),
 (10, 'FOODS_1_002_CA_2', 8.86, 'FOODS_1_002', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1176),
 (11, 'FOODS_1_002_CA_3', 8.934, 'FOODS_1_002', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 624),
 (12, 'FOODS_1_002_CA_4', 8.94, 'FOODS_1_002', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 648),
 (18, 'FOODS_1_003_CA_1', 2.976, 'FOODS_1_003', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1612),
 (19, 'FOODS_1_003_CA_2', 2.976, 'FOODS_1_003', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 3180),
 (20, 'FOODS_1_003_CA_3', 2.975, 'FOODS_1_003', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 2005),
 (21, 'FOODS_1_003_CA_4', 2.975, 'FOODS_1_003', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 924),
 (28, 'FOODS_1_005_CA_1', 3.334, 'FOODS_1_005', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2266),
 (29, 'FOODS_1_005_CA_2', 3.333, 'FOODS_1_005', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 5916),
 (30, 'FOODS_1_005_CA_3', 3.271, 'FOODS_1_005', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3709),
 (31, 'FOODS_1_005_CA_4', 3.332, 'FOODS_1_005', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 934),
 (37, 'FOODS_1_006_CA_1', 2.222, 'FOODS_1_006', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2933),
 (38, 'FOODS_1_006_CA_2', 2.221, 'FOODS_1_006', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 2590),
 (39, 'FOODS_1_006_CA_3', 2.221, 'FOODS_1_006', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3110),
 (40, 'FOODS_1_006_CA_4', 2.22, 'FOODS_1_006', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1963),
 (47, 'FOODS_1_011_CA_1', 2.521, 'FOODS_1_011', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1195),
 (48, 'FOODS_1_011_CA_3', 2.481, 'FOODS_1_011', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1642),
 (49, 'FOODS_1_011_CA_4', 2.521, 'FOODS_1_011', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 639),
 (54, 'FOODS_1_013_CA_1', 1.472, 'FOODS_1_013', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2572),
 (55, 'FOODS_1_013_CA_2', 1.471, 'FOODS_1_013', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 5096),
 (56, 'FOODS_1_013_CA_3', 1.467, 'FOODS_1_013', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 5250),
 (62, 'FOODS_1_016_CA_1', 2.074, 'FOODS_1_016', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2400),
 (63, 'FOODS_1_016_CA_2', 2.074, 'FOODS_1_016', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 2592),
 (64, 'FOODS_1_016_CA_3', 2.074, 'FOODS_1_016', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1865),
 (70, 'FOODS_1_018_CA_1', 0.981, 'FOODS_1_018', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 18811),
 (71, 'FOODS_1_018_CA_2', 0.981, 'FOODS_1_018', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 15485),
 (72, 'FOODS_1_018_CA_3', 0.981, 'FOODS_1_018', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 16776),
 (73, 'FOODS_1_018_CA_4', 0.981, 'FOODS_1_018', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 10923),
 (80, 'FOODS_1_019_CA_1', 1.048, 'FOODS_1_019', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 7957),
 (81, 'FOODS_1_019_CA_2', 1.047, 'FOODS_1_019', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 11033),
 (82, 'FOODS_1_019_CA_3', 1.003, 'FOODS_1_019', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 9482),
 (83, 'FOODS_1_019_CA_4', 1.048, 'FOODS_1_019', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 5274),
 (90, 'FOODS_1_020_CA_1', 2.655, 'FOODS_1_020', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2074),
 (91, 'FOODS_1_020_CA_2', 2.654, 'FOODS_1_020', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1882),
 (92, 'FOODS_1_020_CA_3', 2.58, 'FOODS_1_020', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1537),
 (93, 'FOODS_1_020_CA_4', 2.654, 'FOODS_1_020', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1184),
 (100, 'FOODS_1_024_CA_1', 4.705, 'FOODS_1_024', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2288),
 (101, 'FOODS_1_024_CA_2', 4.705, 'FOODS_1_024', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 4157),
 (102, 'FOODS_1_024_CA_3', 4.705, 'FOODS_1_024', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3646),
 (103, 'FOODS_1_024_CA_4', 4.705, 'FOODS_1_024', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1445),
 (110, 'FOODS_1_026_CA_2', 6.932, 'FOODS_1_026', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1418),
 (111, 'FOODS_1_026_CA_3', 6.795, 'FOODS_1_026', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1626),
 (112, 'FOODS_1_026_CA_4', 6.934, 'FOODS_1_026', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 503),
 (119, 'FOODS_1_030_CA_2', 3.198, 'FOODS_1_030', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1330),
 (120, 'FOODS_1_030_CA_3', 3.089, 'FOODS_1_030', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 873),
 (122, 'FOODS_1_031_CA_2', 3.347, 'FOODS_1_031', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 4761),
 (123, 'FOODS_1_031_CA_3', 3.296, 'FOODS_1_031', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 4572),
 (124, 'FOODS_1_031_CA_4', 3.347, 'FOODS_1_031', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1058),
 (131, 'FOODS_1_032_CA_1', 0.981, 'FOODS_1_032', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 14863),
 (132, 'FOODS_1_032_CA_2', 0.981, 'FOODS_1_032', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 6840),
 (133, 'FOODS_1_032_CA_3', 0.981, 'FOODS_1_032', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 13107),
 (134, 'FOODS_1_032_CA_4', 0.981, 'FOODS_1_032', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 12220),
 (141, 'FOODS_1_035_CA_1', 2.52, 'FOODS_1_035', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1416),
 (142, 'FOODS_1_035_CA_3', 2.446, 'FOODS_1_035', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 2515),
 (143, 'FOODS_1_035_CA_4', 2.521, 'FOODS_1_035', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 350),
 (146, 'FOODS_1_036_CA_1', 1.756, 'FOODS_1_036', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 3812),
 (147, 'FOODS_1_036_CA_3', 1.746, 'FOODS_1_036', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 4606),
 (148, 'FOODS_1_036_CA_4', 1.756, 'FOODS_1_036', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 2040),
 (154, 'FOODS_1_037_CA_3', 3.129, 'FOODS_1_037', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3473),
 (157, 'FOODS_1_038_CA_2', 9.186, 'FOODS_1_038', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 3110),
 (158, 'FOODS_1_038_CA_3', 9.151, 'FOODS_1_038', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 2729),
 (161, 'FOODS_1_040_CA_1', 1.836, 'FOODS_1_040', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 4287),
 (162, 'FOODS_1_040_CA_2', 1.835, 'FOODS_1_040', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 3294),
 (163, 'FOODS_1_040_CA_3', 1.813, 'FOODS_1_040', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 4130),
 (164, 'FOODS_1_040_CA_4', 1.836, 'FOODS_1_040', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1951),
 (170, 'FOODS_1_041_CA_1', 2.233, 'FOODS_1_041', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1832),
 (171, 'FOODS_1_041_CA_2', 2.231, 'FOODS_1_041', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 2757),
 (172, 'FOODS_1_041_CA_3', 2.16, 'FOODS_1_041', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 2368),
 (173, 'FOODS_1_041_CA_4', 2.232, 'FOODS_1_041', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1082),
 (180, 'FOODS_1_044_CA_1', 2.816, 'FOODS_1_044', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 3924),
 (181, 'FOODS_1_044_CA_2', 2.815, 'FOODS_1_044', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 2743),
 (182, 'FOODS_1_044_CA_3', 2.719, 'FOODS_1_044', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3356),
 (183, 'FOODS_1_044_CA_4', 2.816, 'FOODS_1_044', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1595),
 (190, 'FOODS_1_045_CA_1', 1.834, 'FOODS_1_045', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 5161),
 (191, 'FOODS_1_045_CA_2', 1.834, 'FOODS_1_045', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 3011),
 (192, 'FOODS_1_045_CA_3', 1.82, 'FOODS_1_045', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 5026),
 (193, 'FOODS_1_045_CA_4', 1.836, 'FOODS_1_045', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 2607),
 (199, 'FOODS_1_046_CA_1', 0.981, 'FOODS_1_046', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 13839),
 (200, 'FOODS_1_046_CA_2', 0.981, 'FOODS_1_046', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 10697),
 (201, 'FOODS_1_046_CA_3', 0.981, 'FOODS_1_046', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 12554),
 (202, 'FOODS_1_046_CA_4', 0.981, 'FOODS_1_046', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 10685),
 (209, 'FOODS_1_047_CA_1', 3.348, 'FOODS_1_047', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1981),
 (210, 'FOODS_1_047_CA_2', 3.347, 'FOODS_1_047', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 5074),
 (211, 'FOODS_1_047_CA_3', 3.299, 'FOODS_1_047', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3719),
 (218, 'FOODS_1_049_CA_1', 2.24, 'FOODS_1_049', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1919),
 (219, 'FOODS_1_049_CA_2', 2.239, 'FOODS_1_049', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 2773),
 (220, 'FOODS_1_049_CA_3', 2.181, 'FOODS_1_049', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1906),
 (221, 'FOODS_1_049_CA_4', 2.238, 'FOODS_1_049', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 488),
 (227, 'FOODS_1_053_CA_1', 5.538, 'FOODS_1_053', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 736),
 (228, 'FOODS_1_053_CA_2', 5.494, 'FOODS_1_053', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1332),
 (229, 'FOODS_1_053_CA_4', 5.494, 'FOODS_1_053', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1589),
 (235, 'FOODS_1_054_CA_1', 1.886, 'FOODS_1_054', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 3541),
 (236, 'FOODS_1_054_CA_2', 1.885, 'FOODS_1_054', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 4162),
 (237, 'FOODS_1_054_CA_3', 1.884, 'FOODS_1_054', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3126),
 (243, 'FOODS_1_055_CA_1', 3.918, 'FOODS_1_055', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 5451),
 (244, 'FOODS_1_055_CA_2', 3.913, 'FOODS_1_055', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 12037),
 (245, 'FOODS_1_055_CA_3', 3.794, 'FOODS_1_055', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 12305),
 (246, 'FOODS_1_055_CA_4', 3.916, 'FOODS_1_055', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 2414),
 (252, 'FOODS_1_061_CA_2', 2.167, 'FOODS_1_061', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 6808),
 (253, 'FOODS_1_061_CA_3', 2.162, 'FOODS_1_061', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 8033),
 (254, 'FOODS_1_061_CA_4', 2.167, 'FOODS_1_061', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1920),
 (259, 'FOODS_1_062_CA_1', 4.006, 'FOODS_1_062', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1156),
 (260, 'FOODS_1_062_CA_2', 4.003, 'FOODS_1_062', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1159),
 (261, 'FOODS_1_062_CA_3', 4.007, 'FOODS_1_062', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1400),
 (262, 'FOODS_1_062_CA_4', 4.006, 'FOODS_1_062', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 832),
 (269, 'FOODS_1_063_CA_1', 2.216, 'FOODS_1_063', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1700),
 (270, 'FOODS_1_063_CA_2', 2.214, 'FOODS_1_063', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1990),
 (271, 'FOODS_1_063_CA_3', 2.003, 'FOODS_1_063', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1971),
 (272, 'FOODS_1_063_CA_4', 2.222, 'FOODS_1_063', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1693),
 (279, 'FOODS_1_064_CA_1', 2.618, 'FOODS_1_064', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2915),
 (280, 'FOODS_1_064_CA_2', 2.618, 'FOODS_1_064', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1515),
 (281, 'FOODS_1_064_CA_3', 2.616, 'FOODS_1_064', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1179),
 (282, 'FOODS_1_064_CA_4', 2.618, 'FOODS_1_064', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1441),
 (288, 'FOODS_1_065_CA_1', 3.304, 'FOODS_1_065', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1276),
 (289, 'FOODS_1_065_CA_2', 3.329, 'FOODS_1_065', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 2491),
 (290, 'FOODS_1_065_CA_3', 3.239, 'FOODS_1_065', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 2474),
 (291, 'FOODS_1_065_CA_4', 3.304, 'FOODS_1_065', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 894),
 (297, 'FOODS_1_066_CA_1', 1.358, 'FOODS_1_066', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2586),
 (298, 'FOODS_1_066_CA_2', 1.358, 'FOODS_1_066', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 2619),
 (299, 'FOODS_1_066_CA_3', 1.356, 'FOODS_1_066', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1986),
 (300, 'FOODS_1_066_CA_4', 1.358, 'FOODS_1_066', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1541),
 (306, 'FOODS_1_067_CA_1', 1.98, 'FOODS_1_067', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 5344),
 (307, 'FOODS_1_067_CA_2', 1.98, 'FOODS_1_067', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 10800),
 (308, 'FOODS_1_067_CA_3', 1.977, 'FOODS_1_067', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 12389),
 (309, 'FOODS_1_067_CA_4', 1.98, 'FOODS_1_067', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 3408),
 (316, 'FOODS_1_069_CA_1', 2.512, 'FOODS_1_069', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1533),
 (317, 'FOODS_1_069_CA_3', 2.453, 'FOODS_1_069', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3754),
 (318, 'FOODS_1_069_CA_4', 2.512, 'FOODS_1_069', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1510),
 (320, 'FOODS_1_073_CA_1', 1.988, 'FOODS_1_073', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2278),
 (321, 'FOODS_1_073_CA_2', 1.988, 'FOODS_1_073', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1342),
 (322, 'FOODS_1_073_CA_3', 1.967, 'FOODS_1_073', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1295),
 (329, 'FOODS_1_074_CA_1', 2.232, 'FOODS_1_074', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2989),
 (330, 'FOODS_1_074_CA_2', 2.23, 'FOODS_1_074', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 3486),
 (331, 'FOODS_1_074_CA_3', 2.167, 'FOODS_1_074', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3488),
 (332, 'FOODS_1_074_CA_4', 2.231, 'FOODS_1_074', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1412),
 (339, 'FOODS_1_075_CA_1', 3.334, 'FOODS_1_075', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1772),
 (340, 'FOODS_1_075_CA_2', 3.334, 'FOODS_1_075', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1561),
 (341, 'FOODS_1_075_CA_3', 3.213, 'FOODS_1_075', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 930),
 (342, 'FOODS_1_075_CA_4', 3.334, 'FOODS_1_075', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 730),
 (348, 'FOODS_1_076_CA_1', 5.492, 'FOODS_1_076', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1527),
 (349, 'FOODS_1_076_CA_2', 5.49, 'FOODS_1_076', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 2091),
 (350, 'FOODS_1_076_CA_3', 5.492, 'FOODS_1_076', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1945),
 (351, 'FOODS_1_076_CA_4', 5.49, 'FOODS_1_076', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1430),
 (357, 'FOODS_1_080_CA_1', 7.476, 'FOODS_1_080', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1517),
 (358, 'FOODS_1_080_CA_3', 7.474, 'FOODS_1_080', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 2098),
 (362, 'FOODS_1_083_CA_1', 1.98, 'FOODS_1_083', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2840),
 (363, 'FOODS_1_083_CA_2', 1.98, 'FOODS_1_083', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 7312),
 (364, 'FOODS_1_083_CA_3', 1.968, 'FOODS_1_083', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 5624),
 (365, 'FOODS_1_083_CA_4', 1.98, 'FOODS_1_083', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 2439),
 (370, 'FOODS_1_084_CA_1', 5.41, 'FOODS_1_084', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 108),
 (371, 'FOODS_1_084_CA_2', 5.405, 'FOODS_1_084', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 185),
 (372, 'FOODS_1_084_CA_3', 5.408, 'FOODS_1_084', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 191),
 (378, 'FOODS_1_085_CA_1', 0.981, 'FOODS_1_085', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 20542),
 (379, 'FOODS_1_085_CA_2', 0.981, 'FOODS_1_085', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 15428),
 (380, 'FOODS_1_085_CA_3', 0.981, 'FOODS_1_085', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 11121),
 (381, 'FOODS_1_085_CA_4', 0.981, 'FOODS_1_085', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 13739),
 (388, 'FOODS_1_086_CA_1', 1.683, 'FOODS_1_086', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 10704),
 (389, 'FOODS_1_086_CA_2', 1.684, 'FOODS_1_086', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 7076),
 (390, 'FOODS_1_086_CA_3', 1.684, 'FOODS_1_086', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 8179),
 (395, 'FOODS_1_088_CA_1', 4.874, 'FOODS_1_088', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 3061),
 (396, 'FOODS_1_088_CA_2', 4.871, 'FOODS_1_088', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 7294),
 (397, 'FOODS_1_088_CA_3', 4.828, 'FOODS_1_088', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 6532),
 (398, 'FOODS_1_088_CA_4', 4.879, 'FOODS_1_088', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1346),
 (405, 'FOODS_1_090_CA_2', 3.333, 'FOODS_1_090', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 2704),
 (406, 'FOODS_1_090_CA_3', 3.241, 'FOODS_1_090', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 2270),
 (407, 'FOODS_1_090_CA_4', 3.334, 'FOODS_1_090', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1208),
 (414, 'FOODS_1_091_CA_2', 2.34, 'FOODS_1_091', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1743),
 (415, 'FOODS_1_091_CA_3', 2.305, 'FOODS_1_091', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1905),
 (416, 'FOODS_1_091_CA_4', 2.342, 'FOODS_1_091', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1087),
 (423, 'FOODS_1_094_CA_1', 3.312, 'FOODS_1_094', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1609),
 (424, 'FOODS_1_094_CA_2', 3.316, 'FOODS_1_094', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 4683),
 (425, 'FOODS_1_094_CA_3', 3.289, 'FOODS_1_094', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3935),
 (432, 'FOODS_1_095_CA_1', 3.027, 'FOODS_1_095', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 399),
 (433, 'FOODS_1_095_CA_2', 3.026, 'FOODS_1_095', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 909),
 (434, 'FOODS_1_095_CA_3', 3.023, 'FOODS_1_095', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 255),
 (435, 'FOODS_1_095_CA_4', 3.034, 'FOODS_1_095', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1399),
 (442, 'FOODS_1_096_CA_1', 5.91, 'FOODS_1_096', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 612),
 (443, 'FOODS_1_096_CA_2', 5.903, 'FOODS_1_096', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1958),
 (444, 'FOODS_1_096_CA_3', 5.911, 'FOODS_1_096', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 2955),
 (445, 'FOODS_1_096_CA_4', 5.904, 'FOODS_1_096', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 920),
 (452, 'FOODS_1_101_CA_1', 1.98, 'FOODS_1_101', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1073),
 (453, 'FOODS_1_101_CA_2', 1.98, 'FOODS_1_101', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1316),
 (454, 'FOODS_1_101_CA_4', 1.98, 'FOODS_1_101', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 672),
 (459, 'FOODS_1_102_CA_3', 1.746, 'FOODS_1_102', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 1480),
 (460, 'FOODS_1_102_CA_4', 1.756, 'FOODS_1_102', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 775),
 (464, 'FOODS_1_103_CA_1', 3.959, 'FOODS_1_103', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2745),
 (465, 'FOODS_1_103_CA_2', 3.959, 'FOODS_1_103', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 3177),
 (466, 'FOODS_1_103_CA_3', 3.795, 'FOODS_1_103', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3949),
 (467, 'FOODS_1_103_CA_4', 3.955, 'FOODS_1_103', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 913),
 (473, 'FOODS_1_104_CA_1', 3.334, 'FOODS_1_104', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 3434),
 (474, 'FOODS_1_104_CA_2', 3.334, 'FOODS_1_104', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 9061),
 (475, 'FOODS_1_104_CA_3', 3.252, 'FOODS_1_104', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 8861),
 (476, 'FOODS_1_104_CA_4', 3.334, 'FOODS_1_104', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1175),
 (483, 'FOODS_1_106_CA_1', 3.32, 'FOODS_1_106', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 2528),
 (484, 'FOODS_1_106_CA_2', 3.32, 'FOODS_1_106', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 7793),
 (485, 'FOODS_1_106_CA_3', 3.299, 'FOODS_1_106', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 5822),
 (486, 'FOODS_1_106_CA_4', 3.348, 'FOODS_1_106', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1347),
 (493, 'FOODS_1_107_CA_2', 5.406, 'FOODS_1_107', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 322),
 (494, 'FOODS_1_107_CA_3', 5.409, 'FOODS_1_107', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 581),
 (495, 'FOODS_1_107_CA_4', 5.407, 'FOODS_1_107', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 515),
 (501, 'FOODS_1_108_CA_1', 2.5, 'FOODS_1_108', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1770),
 (502, 'FOODS_1_108_CA_2', 2.5, 'FOODS_1_108', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 3848),
 (503, 'FOODS_1_108_CA_3', 2.5, 'FOODS_1_108', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 7263),
 (509, 'FOODS_1_112_CA_1', 1.98, 'FOODS_1_112', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 4478),
 (510, 'FOODS_1_112_CA_2', 1.98, 'FOODS_1_112', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 4536),
 (511, 'FOODS_1_112_CA_3', 1.968, 'FOODS_1_112', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 3138),
 (512, 'FOODS_1_112_CA_4', 1.98, 'FOODS_1_112', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 1830),
 (519, 'FOODS_1_114_CA_1', 3.334, 'FOODS_1_114', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 1683),
 (520, 'FOODS_1_114_CA_2', 3.334, 'FOODS_1_114', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1158),
 (521, 'FOODS_1_114_CA_3', 3.219, 'FOODS_1_114', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 943),
 (522, 'FOODS_1_114_CA_4', 3.334, 'FOODS_1_114', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 880),
 (528, 'FOODS_1_116_CA_1', 2.512, 'FOODS_1_116', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 932),
 (529, 'FOODS_1_116_CA_2', 2.511, 'FOODS_1_116', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 3437),
 (530, 'FOODS_1_116_CA_3', 2.446, 'FOODS_1_116', 'FOODS_1', 'FOODS', 'CA_3', 'CA', 2354),
 (531, 'FOODS_1_116_CA_4', 2.511, 'FOODS_1_116', 'FOODS_1', 'FOODS', 'CA_4', 'CA', 514),
 (538, 'FOODS_1_117_CA_2', 2.169, 'FOODS_1_117', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 1395),
 (541, 'FOODS_1_119_CA_1', 3.334, 'FOODS_1_119', 'FOODS_1', 'FOODS', 'CA_1', 'CA', 851),
 (542, 'FOODS_1_119_CA_2', 3.327, 'FOODS_1_119', 'FOODS_1', 'FOODS', 'CA_2', 'CA', 636),

In [37]:
# Add primary key constraint to table CAfoods
engine.execute('ALTER TABLE "CAfoods" ADD PRIMARY KEY (id)')

In [39]:
# Add primary key constraint to table state_category
engine.execute('ALTER TABLE state_category ADD PRIMARY KEY (state, cat_id)')

In [40]:
# Add primary key constraint to table walmart_stores
engine.execute('ALTER TABLE walmart_stores ADD PRIMARY KEY (state)')

In [ ]:
# Add primary key constraint to table walmart_state_cat
engine.execute('ALTER TABLE walmart_state_cat ADD PRIMARY KEY (state, cat_id)')

In [44]:
# Add primary key constraint to table state_store_sale
engine.execute('ALTER TABLE state_store_sale ADD PRIMARY KEY (state)')